*.pyc
.*.swp
*.1
*.o
*.lo
*.la
*.tar.gz
*.html
*.libs
*_trial_temp
# autoconf generated
*Makefile.in*
*Makefile
aclocal.m4
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
*~
*.deps
src/.deps/*
src/config.h
src/config.h.in
src/stamp-h1
ABOUT-NLS
INSTALL
build-aux/
doc/docbook/installation-manual.xml
doc/docbook/user-manual.xml
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en.gmo
po/en@boldquot.header
po/en@quot.header
po/fr.gmo
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/stamp-po
py/scenic/configure.py
py/scripts/midistream
py/scripts/scenic
src/caps/caps.cpp
src/main/milhouse
src/rtsp/examples/gst-rtsp-cam
src/rtsp/examples/test-client
src/vumeter/test/meter
utils/dc-ctl/dc-ctl
utils/firereset/firereset
utils/jack-info/jack-info
doc/docbook/en/installation-manual.xml
doc/docbook/en/user-manual.xml
doc/docbook/fr/installation-manual.xml
doc/docbook/fr/user-manual.xml
doc/docbook/en/html/
doc/docbook/fr/html/
doc/html/
doc/pythondocs/
py/scripts/midistreamc
py/scripts/scenicc
src/caps/test/caps_test
src/main/test/check_pipeline
scenic.pc
doc/Doxyfile
