[Desktop Entry]
Encoding=UTF-8
Name=Miville
GenericName=Scenic Web Interface
Comment=Start a miville server and a Firefox client
Exec=miville
Icon=miville.png
Terminal=true
Type=Application
Categories=Application;Network;
GenericName=Scenic Web Interface
GenericName[en_CA]=Scenic Web Interface
