[Desktop Entry]
Type=Application
Exec=scenic
Icon=scenic
X-GNOME-DocPath=
Terminal=false
Name=Scenic
Name[en]=Scenic
Name[fr]=Scenic
Comment=Telepresence software for live performances and installations 
Comment[en]=Telepresence software for live performances and installations 
Comment[fr]=Logiciel de télépresence pour la scène et les installations
Categories=Network;
