[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=scenic
Icon=scenic
X-GNOME-DocPath=
Terminal=false
Name=Scenic
Name[en]=Scenic
Comment=High-Quality Audio-Video Streaming for GNU/Linux
Comment[en]=High-Quality Audio-Video Streaming for GNU/Linux
Categories=Network;
