[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=maugis.py
TryExec=
Icon=gnome-talk.png
X-GNOME-DocPath=
Terminal=false
Name[en]=maugis
GenericName[en]=maugis
Comment[en]=maugis
Name=maugis
GenericName=maugis
Comment=maugis
Categories=Application;AudioVideo;Audio;
