Source: scenic
Section: video
Priority: optional
Maintainer: Alexandre Quessy <alexandre@quessy.net>
Build-Depends:
 automake,
 bash,
 bash-completion,
 bison,
 cdbs,
 debhelper (>= 5.0.38),
 doxygen,
 ffmpeg,
 flex,
 gettext,
 gnome-doc-utils,
 gstreamer0.10-alsa,
 gstreamer0.10-ffmpeg,
 gstreamer0.10-plugins-bad,
 gstreamer0.10-plugins-base,
 gstreamer0.10-plugins-good,
 gstreamer0.10-plugins-ugly (>= 0.10.14),
 gstreamer0.10-pulseaudio,
 gstreamer0.10-x,
 help2man,
 libasound2-dev,
 libavc1394-dev,
 libboost1.40-all-dev,
 libbz2-dev,
 libdc1394-22-dev,
 libdv4-dev,
 libglew1.5-dev,
 libglu1-mesa-dev,
 libgstreamer-plugins-base0.10-dev,
 libgstreamer0.10-dev (>= 0.10.23),
 libgtk2.0-dev,
 libid3tag0-dev,
 libiec61883-dev,
 libjack-dev,
 libmad0-dev,
 liboil0.3-dev,
 libpulse-dev,
 libraw1394-dev,
 libtheora-dev,
 libtool,
 libvorbis-dev,
 libxml2-dev,
 libxv-dev,
 python (>= 2.4),
 python-dev,
 python-epydoc,
 python-gst0.10 (>= 0.10.17),
 python-gtk2,
 python-gtk2-dev,
 python-pygame,
 python-simplejson,
 python-twisted,
 vorbis-tools
Standards-Version: 3.8.4
Homepage: http://scenic.sat.qc.ca/

Package: scenic
Architecture: any
Depends:
 ${misc:Depends},
 bash,
 bash-completion,
 bison,
 doxygen,
 ffmpeg,
 flex,
 gettext,
 gnome-doc-utils,
 gstreamer0.10-alsa,
 gstreamer0.10-ffmpeg,
 gstreamer0.10-plugins-bad,
 gstreamer0.10-plugins-base,
 gstreamer0.10-plugins-good,
 gstreamer0.10-plugins-ugly (>= 0.10.14),
 gstreamer0.10-pulseaudio,
 gstreamer0.10-x,
 jackd,
 libasound2,
 libavc1394-0,
 libboost-filesystem1.40.0,
 libboost-iostreams1.40.0,
 libboost-program-options1.40.0,
 libboost-system1.40.0,
 libboost-thread1.40.0,
 libbz2-1.0,
 libdc1394-22,
 libdv4,
 libglew1.5,
 libglu1-mesa,
 libgstreamer0.10-0 (>= 0.10.23),
 libid3tag0,
 libiec61883-0,
 libmad0,
 liboil0.3,
 libpulse0,
 libraw1394-11,
 libtheora0,
 libvorbis0a,
 libxml2,
 libxv1,
 python (>= 2.4),
 python-gst0.10 (>= 0.10.17),
 python-gtk2,
 python-pygame,
 python-simplejson,
 python-twisted,
 vorbis-tools,
 x11-utils,
 yelp
# libmp3lame0,
# libx264-85,
Recommends:
 gstreamer0.10-tools,
 linux-headers-rt,
 linux-rt,
 python-portmidi,
 qjackctl
Suggests:
 iperf,
 lunch,
 smokeping,
 traceroute,
 wireshark
Description: High-quality audio/video streaming for live performances. 
 Scenic is a telepresence free/libre software developed for wide 
 bandwidth networks and oriented toward live performances. 
 .
 Scenic is software suite for transmission and reception of your fine
 audio-visual content. It is an interface to the milhouse command-line
 Gstreamer-based software.
