 #adb_list {
	height: 100px;
	overflow: auto;
	background-color: #FFF;
	border: solid 1px #999;
	font-size: 11px;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

#adb_list li {
	height: 16px;
	padding: 2px 4px;
	position: relative;
}

.conn_icon {
	background-color: transparent;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 4px;
}

.conn_connected {
	background-image: url(/img/network-transmit-receive.png);
}

#adb_add {
	float: left;
	width: 22px;
	height: 22px;
	background-image: url(/img/list-add.png);
	background-repeat: no-repeat;
}

#adb_remove {
	float: left;
	width: 22px;
	height: 22px;
	background-image: url(/img/list-remove.png);
	background-repeat: no-repeat;
}

#adb_join {
	position: absolute;
	right: 0px;
	margin-right: 32px;
}

#adb_fields {
	clear: both;
	font-size: 11px;
	text-align: right;
}

#adb_fields input {
	padding: 1px 2px;
}

.button:hover {
	cursor: pointer;
}

div.button:hover {
	background-color: #d2dce5;
}

div.button_disabled:hover {
	cursor: default;
	background-color: transparent;
}

#adb_status {
	height: 22px;
	line-height: 22px;
	font-size: 10px;
}

#adb_status_icon {
	float: left;
	height: 22px;
	width: 0px;
}

li.auto_created {
	font-style: italic;
	color: #414141;
}

#adb_auto_answer_cell {
	text-align: left;
}

#adb_auto_answer_cell input {
	margin: 0;
}

#adb_auto_answer_cell label {
	position: relative;
	top: -3px;
}


/* THE PART LINE */


.toto {
	background: url(/img/network-error.png) no-repeat;
	width: 16px;
}

.cha {
	background: url(/img/internet-group-chat.png) no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 4px;
}

#contact_field {
	width: 220px;
	border-collapse: collapse;
}

#contact_field td {
	font-size: 11px;
	text-align: right;
	padding: 2px;
	border: 0;
}

#contact_field input {
	border: 1px solid #b3bcc3;
	padding: 0 2px;
	background-color: transparent;
	width: 150px;
}

#contact_field.active_field input {
	border: 1px solid #999;
	padding: 0 2px;
	background-color: #FFF;
}
 
