/* drop-down menu to choose profile ID for current contact */
#strm_global_setts {
	width: 250px;
    /* width: 100%;
    */
    position: absolute;
    left: 50px;
    top: 22px;
    /*
	margin-left: 5px;
    */
}
/* text label for the drop-down menu */
#strm_presets {
    /*
	margin-left: 10px;
    */
    position: absolute;
    left: 0px;
    top: 26px;
}
/* start/stop button */
#strm_start {
    position: absolute;
    left: 50px;
    top: 45px;
}

/* text label for the drop-down menu */
#strm_sets {
    position: absolute;
    right: 0;
    top: 0; /* 15px;*/
    /* height: 75px;
    overflow: auto;
    */
    background-color: #fff;
    border: solid 1px #666;
    /*
    width: 250px;
    */
}
/* list/table of field name : entries */
#strm_details {
    position: absolute;
/*    left: 305px;
*/
    right: 0;
    top: 80px;
    height: 75px;
    overflow: auto;
    background-color: #fff;
    border: solid 1px #666;
    width: 250px;
    /*
    display: block;
    position:relative;
    right:0;
    margin:0;
    padding:0;
    width: 250px;
    */
}

#strm_details {
    display:none; /* XXX */
}
/* the whole table */
#strm_table {
    
}
#strm_table td {
    vertical-align: top;
}
