#strm h3 {
	margin: 0px 0px 10px;
}

#strm_global_setts {
	width: 250px;
	margin-left: 10px;
}

#strm_presets {
	margin-left: 40px;
}

#strm_details {
    display: block;
    font-size: 10px;
    overflow: auto;
    max-height: 100px;
    width: 300px;
}
