body {
	font-family: Arial, Helvetica, FreeSans, Verdana, sans-serif;
    background: #999 url("../img/patt_grey_16px.png");
}
table {
    border-collapse:collapse;
}
body, select, input, td, th, li, p {
    font-size: 11px;
}
h1 {
	margin: 0; 
}
h3 { /* section header */
    background-color:#eee;
    padding:0; 
    margin:0;
    width: 100%;
    color: #33f;
}
/*
.tight_table tr {
    margin: 0;
    padding: 0;
}
.tight_table td {
    margin: 0 2px;;
    padding: 0;
}
*/
.section h3 {
    color: #000;
    font-size: 13pt;
}

input.notify {
	background-color: #ffcec2;
}

.color_one {
	/* background-color: #999;	*/
}

.color_two {
	/* background-color: #999;	*/
}

.color_text_fade {
	color: #333333;	
}

.color_zebra {
	background-color:  #eee;
}

.color_help {
	/* background-color: #eee; */
}

.color_selectable:hover {
	background-color: #d3e0ef;
}

.color_selectable:active {
	background-color: #8db1d9;
}

.color_selected, .color_selected:hover {
	background-color: #b7cee6;
}

.color_optional {
	color: #818181;
}

.section {
	/* border: dotted 1px #999; */
	/* border: outset 1px #999;*/
	padding: 0px;
    margin: 0px;
    background-color:#eee;
    border: solid 1px #999;
}

.spinner_small {
	background-image: url(/img/spinner16.png);
	background-repeat: no-repeat;
	width: 16px;
}

.spinner_medium {
	background-image: url(/img/spinner22.png);
	background-repeat: no-repeat;
	width: 22px;
}

/*.spinner_big {
	background-image: url(/img/spinner32.png);
	background-repeat: no-repeat;
}*/

.basic_list {
	overflow: auto;
	background-color: #FFF;
	border: solid 1px #999;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 4px;
}

.basic_list li {
	height: 16px;
	padding: 1px 2px;
	position: relative;
    /* background-color:#fff; */
}

.basic_icon {
	background-color: transparent;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 2px;
}

select {
    margin: 0px 1px 0px 1px; /* top right bottom left */
    padding: 0px;
    margin: 0;
    padding: 0;
}
select option {
    margin: 0;
    padding: 0;
}
th {
    text-align:left;
    font-weight: bold;
}
